.wrapper {
	padding: 60px 0 0 0;
}
.wrapper .container{
	width: 1000px;
}
.ui-jqgrid tr.jqgrow td {
  white-space: pre-wrap !important;
  height:auto;
  vertical-align:text-top;
  padding-top:2px;
}
/*.ui-jqgrid tr.jqgrow td {
	text-overflow : ellipsis;
}*/
